* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: whitesmoke;
    user-select: none;
}

#dropdownMenu2{
    min-width: 60px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#regionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#regionContainer .btn{
margin: 10px;
}


img#logo {
    height: 40px;
}

div#chart {
    width: 100%; 
    height: 400px; 
    margin: 0 auto

}

input#regionName {
    width: auto;
}

.c3-region.example {
    fill: green;
}
